@page
@model SistemaAcademico.Pages.Alumnos.TablaAlumnosModel
@{
}

<a asp-page="CreateAlumno" class="btn btn-success mb-3">Agregar Alumno</a>

@if (Model.ListaMostrarAlumnos.Count == 0)
{
    <p> No hay alumnos cargados </p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Fecha de nacimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alumno in Model.ListaMostrarAlumnos)
            {
                <tr>
                    <td>@alumno.Id</td>
                    <td>@alumno.Nombre</td>
                    <td>@alumno.Apellido</td>
                    <td>@alumno.DNI</td>
                    <td>@alumno.Email</td>
                    <td>@alumno.FechaDeNacimiento</td>
    </tr>
                    <td>
                <a asp-page="EditAlumno" asp-route-id="@alumno.Id" class="btn btn-warning">Editar</a>
                <a asp-page="EliminarAlumno" asp-route-id="@alumno.Id" class="btn btn-danger">Eliminar</a>
                    </td>
            }
        </tbody>
    </table>
}


